@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

main {
  padding: 16px;
  margin-bottom: 10px;
}

footer {
  background-color: #faedcd;
  position: bottom;
  padding: 1em;
}

nav {
  background-color: #faedcd;
  padding: 16px;
  border-bottom: 2px solid #0d1c0f;
}

img {
  height: 200px;
  box-shadow: 0px 2px 4px rgba(114, 94, 84, 0.5);
}

a {
  text-decoration: none;
  color: #0d1c0f;
}

h3 > a {
  color: #725e54;
}

a:hover {
  color: #d4a373;
}

h1 {
  color: #ccd5ae;
}

tr:nth-child(even) {
  background-color: #edeae8;
}
